<div class="container">
  <div class="row">
    <div class="col">
      <h3>Volunteer Opportunities</h3>
      <%= erb(:view_projects) %>
    </div>
    <div class="col">
      <h3>Current Volunteers</h3>
      <%= erb(:view_volunteers) %>
    </div>
  </div>
</div>  
<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <%= erb(:add_project) %>
    </div>
    <div class="col">
      <%= erb(:add_volunteer) %>
    </div>
  </div>
</div>  
<div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <%= erb(:delete_project)%>
    </div>
    <div class="col">
      <%= erb(:remove_volunteer) %>
    </div>
  </div>
</div>