<h3>Current Project Opportunities</h3>
<div>
<%= erb(:view_projects) %>
</div>

<hr>

<h3>Current Volunteers</h3>
<div>
<%= erb(:view_volunteers) %>
</div>

<hr>

<div>
<%= erb(:add_project) %>
<hr>
<%= erb(:delete_project)%>
</div>

<hr>

<div>
<%= erb(:add_volunteer) %>

<%= erb(:remove_volunteer) %>
</div>